/* Configurações gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff; /* Cor do texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    /* Fundo com imagens e uma camada de sobreposição */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url(homem.webp) left center no-repeat, 
                url(mulher.webp) right center no-repeat;
    background-size: 50% auto; /* Cada imagem ocupa metade da largura */
}

/* Contêiner do quiz */
#quiz-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco semitransparente */
    color: #000; /* Cor do texto preta */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Perguntas e respostas */
#question-text {
    font-size: 18px;
    margin-bottom: 20px;
}

#answers-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#answers-list li {
    background-color: #f1f1f1;
    color: #000;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#answers-list li:hover {
    background-color: #4caf50;
    color: white;
}

/* Botão "Próxima" */
#next-button {
    background-color: #4caf50; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#next-button:hover {
    background-color: #45a049; /* Verde mais escuro */
}

/* Estilização da pontuação */
#score {
    margin-top: 20px;
    font-size: 18px;
}

#score span {
    font-weight: bold;
}

@media (max-width: 768px) {
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url('homem.webp') center top no-repeat;
        background-size: cover;
    }
}

